.navBarContainer{
    width: 80%;
    margin: 0 auto;
}

.logopic{
    float: left;
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
    padding: 5px 0;
}

.navbar-background{
     background-color: #bde8b5;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

/* .title-of-todo-list{
    background: #9fbbc7;
} */

body{
    margin: 0;
    background-color: #9fbbc7;
    min-height: 100vh;
}

nav{
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 100px;
    padding-top: 27px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #353c40;
    text-transform: capitalize;
}

nav a:hover{
    color: black;
    font-weight: 300;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: #9fbbc7;
    width: 0%;
    transition: all ease-in-out 300ms;
}

nav a:hover::before{
    width: 100%;
}

#quote {
    text-align: center;
    font-weight: bold;
    font-family: 'Share Tech Mono', monospace;
    font-size: 26px;
}

#author {
    text-align: center;
    font-style: italic;
    font-family: 'Forum', cursive;
}

.todoMargin {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

.todoMargin, form{
    min-height: 20vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

form input, form button{
    /* padding: 0.5rem; */
    font-size: 2rem;
    border: none;
    background: #bde8b5;
}

form button{
    color: rgb(4, 56, 34);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background:rgb(4, 56, 34);
    color: white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    /*padding-inline-start: 0%;*/
    min-width: 30%;
    list-style: none;
    margin-left: 0%;
}

.todo{
    margin: 0.5rem;
    background: white;
    color: gray;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.25s ease-in;
}

.todo li{
    flex: 1;
}

.deleted-btn, .completed-btn{
    background:rgb(223, 77, 61);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.completed-btn{
    background: rgb(46, 231, 46);
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
    pointer-events: none; /*makes it so that you cant click on it */
}

.completed{
    text-decoration: line-through;
    opacity: 0.4;
}

.collapse{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: orchid;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: lightcoral;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3 ease;
}

.select:hover::after{
    background: rgb(82, 255, 174);
    color:mediumorchid;
}